{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react-native"
    // "eslint:recommended",
    // "plugin:react/recommended"
  ],
  "env": {
    "amd": true,
    "es6": true,
    "node": true,
    "browser": false
  },
  "plugins": [
    "react",
    "babel",
    "react-native"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "commonjs": true,
      "jsx": true,
      "modules": true
    }
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false,
    "jest": false,
    "test": false,
    "expect": false,
    "Generator": true
  },
  /*# http://eslint.org/docs/rules/*/
  "rules": {
    /*# Possible Errors*/
    "key-spacing": 0,
    "jsx-quotes": [2, "prefer-single"],
    "object-curly-spacing": [2, "always"],
    "camelcase": 0,
    "react/jsx-uses-vars": 2,
    "react/jsx-tag-spacing": [2, {
      "beforeSelfClosing": "always"
    }]
  }
}
